.git
.gitignore
node_modules
npm-debug.log
Dockerfile*
docker-compose*
*.sh
*.bat
building-a-data-platform-in-2024-d63c736cccef#2bbc.txt
README.md
LICENSE
.vscode
*.log
*.png
*.odp
try.py
template.py
gcp_data_platform_pubsub_init.py
api_gcp_iam.py
api_gcp_projects.py
api_template.py
gcp_data_platform_analytics.py
